{% comment %} {% load static %}

<div class="nav-container">
    <p><img src="{% static "base/img/kat.jpg" %}" alt="Langlaufvereniging De lange lat"></p>
        <a href="{% url 'startpagina' %}" class="nav-item" style="color: black; font-style: normal;">startpagina</a>
        <a href="{% url 'pagina_twee' %}" class="nav-item" style="color: black; font-style: normal;">pagina_twee</a>
        <a href="{% url 'login' %}" class="nav-item" style="color: black; font-style: normal;">login</a>
        <a href="{% url 'register' %}" class="nav-item" style="color: black; font-style: normal;">register</a>
</div>

 {% endcomment %}
 {% load static %}
 <!DOCTYPE html>
 <html lang="en">
 
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Menubalk</title>
     <link rel="stylesheet" href="{% static 'base/css/menu.css' %}">
 </head>
 
 <body>
     <div class="nav-container">
         <p><img src="{% static 'base/img/kat.jpg' %}" alt="DODO"></p>
         <a href="/startpagina" class="nav-item">Feeds</a>
         <a href="/user_info" class="nav-item">Edit profile</a>
         <a href="/user_info" class="nav-item">Update Dodo</a>
         <a href="/user_list" class="nav-item">Users</a>
         <a href="/login" class="nav-item">login</a>
         <a href="/register" class="nav-item">register</a>
     </div>
 </body>
 
 </html>
 

{% comment %} <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menubalk</title>
    <link rel="stylesheet" href="menu.css">
</head>

<body>
    <div class="nav-container">
        <p><img src="img/kat.jpg"></p>
        <a href="startpagina" class="nav-item">Pagina 1</a>
        <a href="pagina_twee" class="nav-item">Pagina 2</a>
        <a href="login" class="nav-item">login</a>
        <a href="register" class="nav-item">register</a>
    </div>
</body>

</html> {% endcomment %}
