{% extends "base/base.html" %}

{% block content %}
    <div class="update-dodo-container">
        <h2>Update Dodo</h2>
        <form method="POST" class="update-dodo-form">
            {% csrf_token %}
            <input type="hidden" name="user" value="{{ request.user.id }}">
            <div class="form-group">
                <label for="id_dodo">Select Dodo:</label>
                <select name="dodo" id="id_dodo" class="form-control">
                    {% for dodo in dodos %}
                        <option value="{{ dodo.id }}">{{ dodo.dodo }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="id_description">Description:</label>
                <textarea id="id_description" name="description" rows="4" cols="50" class="form-control">{{ form.instance.description }}</textarea>
            </div>
            <div class="form-group">
                <label for="id_date_of_birth">Date of Birth:</label>
                <input type="date" id="id_date_of_birth" name="date_of_birth" value="{{ form.instance.date_of_birth }}" class="form-control">
            </div>
            <div class="form-group">
                <label for="id_alive">Alive:</label>
                <input type="checkbox" id="id_alive" name="alive" {% if form.instance.alive %}checked{% endif %} class="form-check-input">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <hr>

        <h2>Added Dodos</h2>
        <ul class="added-dodos-list">
            {% for dodo in dodos %}
                <li class="added-dodo-item">
                    {{ dodo.dodo }} - Alive: {{ dodo.alive }} - Dead Approved: {{ dodo.dead_approved }}<br>
                    Description: {{ dodo.description }}<br>
                    Date of Birth: {{ dodo.date_of_birth }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
